<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  
  <connectionStrings xdt:Transform="Replace">
    <add name="DieboldDB" connectionString="Server=localhost; Database=DieboldTest; Uid=sa; Pwd=;" />
  </connectionStrings>
  
  <appSettings>
    <add key="EmcIP" value="68.251.166.40" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmcPort" value="5011" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmcTestMode" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NotificationSender" value="no-reply@diebold.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MachineShopApplicationToken" value="073362d6665c0e57321c380f38e208c86d2971bbd3b4beff5914956bce21a844" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NotificationURL" value="https://devportal.dbdhub.com/Alert/Notify" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MachineshopPlatformURL" value="http://10.153.108.196:8080/ms-platform/api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IpConfigureURL" value="http://video.dbdhub.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.web>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Logon" xdt:Transform="SetAttributes" />
    </authentication>
    
  </system.web>
</configuration>