<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="DieboldDB" connectionString="Server=10.153.108.228; Database=portaldev; Uid=videomonitoring; Pwd=I9yKvQ35WB;" />
  </connectionStrings>

  <appSettings>
    <add key="EmcIP" value="68.251.166.40" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmcPort" value="5011" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmcTestMode" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NotificationSender" value="no-reply@diebold.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MachineShopApplicationToken" value="073362d6665c0e57321c380f38e208c86d2971bbd3b4beff5914956bce21a844" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NotificationURL" value="https://devportal.dbdhub.com/Alert/Notify" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MachineshopPlatformURL" value="http://10.153.108.196:8080/ms-platform/api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IpConfigureURL" value="https://devvideo.dbdhub.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />	
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <authentication mode="Forms">
      <forms xdt:Transform="SetAttributes" loginUrl="https://secauth.dbdhub.com/secureauth2/" defaultUrl="/" timeout="20" name=".ASPXFORMSAUTH" enableCrossAppRedirects="true" domain=".dbdhub.com" requireSSL="false" slidingExpiration="true"/>
    </authentication>
    
  </system.web>
</configuration>