<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DieboldDB" connectionString="y2pCQ9z27t29cuHWJiYRZANSr4VprSBO67DIyzoxyz7PGZYhsFryYvuh5ckse4ubHFHCVauSu6KG5MEABEIl4wXLdDX1hfVXM4HpnKfVotm8lZMwbm0rqP98nqNdFPmM" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="Development" />
    <add key="EmcIP" value="68.251.166.40" />
    <add key="EmcPort" value="5011" />
    <add key="EmcTestMode" value="false" />
    <add key="NotificationSender" value="no-reply@diebold.com" />
    <add key="MachineShopApplicationToken" value="073362d6665c0e57321c380f38e208c86d2971bbd3b4beff5914956bce21a844" />
    <add key="PlatformAPIAuthrizationToken" value="SinNdVB5LTnXPup3kacu" />
    <add key="NotificationURL" value="https://devportal.dbdhub.com/Alert/Notify" />
    <add key="MachineshopPlatformURL" value="http://10.153.108.207/api/v0/platform" />
	<add key="MachineshopPlatformURLforMAS" value="http://10.153.108.207/api/v0/platform/custom/MASconnect" />	
	<add key="MachineshopPlatformURLforSystemSummary" value="http://10.153.108.207/api/v0/platform/data/last_report_summary" />
    <add key="IpConfigureURL" value="https://devvideo.dbdhub.com/" />
    <add key="IPConfugureManagementUri" value="https://devvideo.dbdhub.com" />
    <add key="Links" value="http://www.diebold.com/~http://www.linkedin/company/diebold~http://www.asisonline.org/~http://www.siaonline.org/" />
    <add key="RSSFeed" value="http://www.fbi.gov/news/stories/all-stories/rss.xml~http://www.securitysystemsnews.com/rss.xml~http://www.hstoday.us/index.php?id=537&amp;type=100&amp;tx_ttnews%5Bcat%5D=245&amp;cHash=c6c2ff2c56df585dfe10c653a1868ae8~http://www.securitymanagement.com/rss/news" />
    <add key="MaxRSSFeedCount" value="2" />
    <add key="MaxRSSFeedLinks" value="10" />
    <add key="RssFeedInterval" value="300000" />
    <add key="MaxLinksCount" value="10" />
    <add key="APIResponseURL" value="https://devportal.dbdhub.com/PlatformResponse/Notify" />    
    <add key="GatewayIpAddress" value="10.153.108.195" />
    <add key="GatewayPort" value="8080" />
	<add key="FullWebsiteURL" value="https://devportal.dbdhub.com/Dashboard/Home"/>
    <add key="ResponseCallBackUrl" value="https://devm.dbdhub.com/" />
    <!--40 seconds(4*10)-->
    <add key="APIMaxResponseTime" value="12" />
    <!--Device Type ID's, different by environment-->
    <add key="Costar" value="514c48ab9809c42b9d000006" />
    <add key="IpConfigure" value="514c48ab9809c42b9d000007" />
    <add key="VerintEdgeVr200" value="514c48ab9809c42b9d000008" />
    <add key="eData524" value="514c48ab9809c42b9d000009" />
    <add key="eData300" value="514c48ab9809c42b9d00000a" />
    <add key="dmpXR100" value="514c48ab9809c42b9d00000b" />
    <add key="dmpXR500" value="514c48ab9809c42b9d00000c" />
    <add key="bosch_D9412GV4" value="522f49489809c4aa50000105" />
    <add key="videofied01" value="522f49fe9809c452d0000198" />
    <add key="dmpXR100Access" value="52379ba29809c4594f000001" />
    <add key="dmpXR500Access" value="52379ba29809c4594f000002" />
    
    <!--Device Type ID's, different by environment-->
    <!-- Shared config -->
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="AlertFeedInterval" value="300000" />
        <add key="AccessFeedInterval" value="300000" />
  </appSettings>
  <system.web>
    <globalization culture="en-US" uiCulture="en-US" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Logon" timeout="2880" slidingExpiration="true" />
    </authentication>
	<machineKey validationKey="DCE2AF58590A16B98744C898B66E7D3CD3968A0633F5A456" decryptionKey="D1A944BE5DB9318B2BD5093E583F246E69A8A90DE5DC9B0F" validation="SHA1" decryption="Auto" />
    <customErrors mode="Off" />
    <membership defaultProvider="DieboldMemberShipProvider">
      <providers>
        <clear />
        <add name="DieboldMemberShipProvider" type="DieboldMobile.Infrastructure.Authentication.DieboldMembershipProvider, Diebold.Mobile" applicationName="Diebold.Mobile" />
        <!-- passwordFormat="Hashed"/> -->
      </providers>
    </membership>
    <pages enableViewState="true" viewStateEncryptionMode="Always">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="routes.axd" type="AttributeRouting.Logging.LogRoutesHandler, AttributeRouting" />
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- LOGGING -->
 <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="App_Data/web-mobile.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>-->
        <conversionPattern value="%date [%thread] %-5level [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="NHibernateSQLLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="App_Data/mobile-NH.SQL.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <!--
    <logger name="webLogger">
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </logger>
    -->
    <!-- NHibernate namespace logger (Ignores everything) -->
    <logger name="NHibernate" additivity="false">
      <level value="OFF" />
    </logger>
    <!-- NHibernate.SQL namespace logger (To log Queries. Disable on Production) -->
    <logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG" />
      <!--  <level value="OFF"/> -->
      <appender-ref ref="NHibernateSQLLogFileAppender" />
    </logger>
    <!-- WebApp Logger -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <elmah>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data/Elmah.Errors" />
  </elmah>
</configuration>