@model Diebold.WebApp.Models.LogOnModel
@{
    ViewBag.Title = "ForgotPassword";    
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/login-style.css")" />
    <title>Diebold</title>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnCancel").click(function () {
                var url = '@Url.Action("Index")';
                $("form").attr("action", url);
                $("form").submit();
            });

            $("#btnSubmit").click(function () {
                var url = '@Url.Action("forgotPwd")';
                $("form").attr("action", url);
                $("form").submit();
            });
            $("#txtUser").focus(function () {

                var strCtlVal = $('#txtUser').val();
                if (strCtlVal != null && strCtlVal != '') {
                    if ($('#txtUser').val() == 'User Id') {
                        $('#txtUser').val('');
                    }
                }
            });

            $("#txtUser").blur(function () {
                var strEmail = $('#txtUser').val();
                if (strEmail == null || strEmail == '') {
                    $('#txtUser').val('User Id');
                }
            });
        });
    </script>
</head>
<body>
    <div id="mainContainer">
        <div id="main-container">
            <div id="logo">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/login-logo.png")" width="188" height="31" alt="" /></a>
            </div>
            <div id="login-cont">
                <div class="login-lft">
                </div>
                <div class="login-mid">
                    <div class="lft-cont">
                        <p>
                            <strong><span>Forgot Password</span><br />
                                <br />
                                Please Enter the following required fields to reset or generate new password.</strong></p>
                    </div>
                    <div class="right-cont">
                        <div class="input-field">
                            <form name="input" action="" method="post">
                            <div class="input-lft">
                            </div>
                            <div class="input-mid">
                                <input type="text" id="txtUser" name="" value="User Id" />
                            </div>
                            <div class="input-right">
                            </div>
                            <div class="clear">
                            </div>
                            <div class="forgot-button">
                                <input id="btnSubmit" type="button" class="in-btn" value="SUBMIT" />
                                <input id="btnCancel" type="button" class="in-btn" value="CANCEL" />
                            </div>
                            </form>
                            <div class="clear">
                            </div>
                            <br />
                            <div class="forgot-info">
                                <label id="lblpwdInfo" style="display: none;">
                                    Password has been sent to your Mail ID</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="login-right">
                </div>
            </div>
            <div class="clear">
            </div>
            <div id="bot-shadow">
            </div>
        </div>
    </div>
</body>
</html>
