Diebold.DAO.NH/obj/
Diebold.Domain/obj/
Diebold.Exporter/obj/
Diebold.Migrations/obj/
Diebold.Mobile/obj/
Diebold.Mobile/App_Data/
Diebold.Mobile/Diebold.Mobile.csproj.user
Diebold.Platform.Proxies/obj/
Diebold.RemoteService.Proxies/obj/
Diebold.Services/obj/
Diebold.Test/obj/
Diebold.WebApp.suo
Diebold.WebApp/obj/
SchemaExporter/obj/
Diebold.WebApp/bin/
Diebold.DAO.NH/bin/
Diebold.Exporter/bin/
Diebold.Mobile/Bin/
Diebold.Domain/bin/
Diebold.Platform.Proxies/bin/
Diebold.RemoteService.Proxies/bin/
Diebold.Services/bin/
Diebold.Test/bin/
Diebold.TestConsole/bin/
Diebold.TestConsole/obj/
SchemaExporter/bin/
MigrationTool/
_UpgradeReport_Files
Backup
UpgradeLog.*
Diebold.WebApp/App_Data/Elmah.Errors/
Diebold.WebApp/web.config
.JustCode/
Diebold.Services/Diebold.Services.csproj.user
Diebold.WebApp.v11.suo