@{
    ViewBag.Title = "LegalDocument";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
 <div id="dvTermsTitle" class="pallette-detail-header-bg">     
    <p>
        Terms of Use</p>     
    </div>
<div style="width: 98%; padding-left: 2%; background-color:White;">
    <div style="width: 99%">
        <p style="color: #666666; font-size: 11px; font-weight: normal; padding: 8px 0 0 8px;
            text-align: justify;">
            This SecureStat®, Revisor and MyDiebold Portal site and associated functions and
            software ("System") is only available to commercial entities who have entered into
            in a SecureStat, Revisor and MyDiebold Portal Agreement ("Portal Agreement") with
            Diebold ("Participant"), and to Participant’s authorized representative ("Focal
            Point") and authorized additional users ("Users") (individually and collectively
            "You"). Unless otherwise defined herein, capitalized terms shall have the same meaning
            as they have in the Portal Agreement. In order to access the System, You, must agree
            to the following terms and conditions ("Agreement"):
        </p>
    </div>
    <div style="width: 99%">
        <p style="color: #666666; font-size: 11px; font-weight: normal; padding: 8px 0 0 8px;
            text-align: justify;">
            1. You represent and agree that the Participant for which You are acting as Focal
            Point or User is currently a party to a valid Portal Agreement with Diebold or that
            You have the authority to, and by Your assent to this Agreement do, bind Participant
            to the terms and conditions of this Portal Agreement . You represent and agree that
            You are authorized by Participant to access the System on behalf of Participant,
            either as Focal Point or User. You agree to be bound by and comply with all terms
            and conditions of the Portal Agreement.
        </p>
    </div>
    <div style="width: 99%">
        <p style="color: #666666; font-size: 11px; font-weight: normal; padding: 8px 0 0 8px;
            text-align: justify;">
            2. You represent that Participant is a commercial business entity, and that in accessing
            the System You are acting in Your capacity either as representative of Participant,
            if a Focal Point, or in Your capacity as employee of Participant, if a User. You
            agree that Diebold may rely on any of Your inputs into, or actions in connection
            with, the System, and that You and Participant are legally bound thereby. You agree
            that neither Diebold nor any Diebold supplier, shall have any liability nor incur
            any costs or damages whatsoever, whether on the basis of contract, tort (including
            without limitation negligence, product liability or strict liability), or on any
            other common law or statutory basis whatsoever, to You, Participant or to any third
            party, due to Your access or use of the System. All information, software, documentation
            and other items, whether tangible or intangible, which You or Participant may use
            in conjunction with or receive from the System, are provided AS IS AND WITHOUT WARRANTY.
            Diebold reserves the right to deny access to the System to You or Participant at
            any time with or without cause.
        </p>
    </div>
    <div style="width: 99%">
        <p style="color: #666666; font-size: 11px; font-weight: normal; padding: 8px 0 0 8px;
            text-align: justify;">
            3. Diebold assumes no privacy obligations or restrictions whatsoever with regard
            to information You may provide through use of the System, or information that Diebold
            may collect from You in connection with using the System. You agree and represent
            that none of the information You input will be personal information. Without limitation,
            You expressly grant Diebold the rights to use, transfer, and disclose such information
            for any purpose Diebold believes necessary or appropriate to (a) comply with relevant
            laws or to respond to subpoenas or warrants served on Diebold or (b) to protect
            and defend the interests, rights, or property of Diebold or third parties. DIEBOLD
            MAKES NO WARRANTY CONCERNING THE USE OF INFORMATION THAT YOU PROVIDE OR DIEBOLD
            GATHERS IN THE COURSE OF YOUR USE OF THE SYSTEM.
        </p>
    </div>
    <div style="width: 99%">
        <p style="color: #666666; font-size: 11px; font-weight: normal; padding: 8px 0 0 8px;
            text-align: justify;">
            4. You further acknowledge and agree that Your inputs provided to the System indicating
            agreement serve as Your and Participant’s legally valid electronic signature which
            shall be as fully effective as if it was a written signature, and shall be fully
            legally binding upon You, Participant, Diebold’s affiliates, subsidiaries, successors
            and assigns for all purposes including, but not limited to, the purchase of goods
            or services. This Agreement shall be deemed to be in writing for any all purposes,
            and Diebold’s grant to You and/or Participant to the System shall constitute Diebold’s
            binding electronic signature to the terms and conditions of this Agreement.
        </p>
    </div>
    <div style="width: 99%">
        <p style="color: #666666; font-size: 11px; font-weight: normal; padding: 8px 0 0 8px;
            text-align: justify;">
            5. This Agreement shall be governed and construed in accordance with the laws of
            the State of Ohio, USA, as if it was entered into, and was to be entirely performed,
            within the State of Ohio, and without regard to any conflicts of laws provisions
            thereof. By using the System, You and Participant irrevocably consent to the exercise
            of jurisdiction of, and venue in, any state or federal court of competent jurisdiction
            located in Ohio. In the event any provision of this Agreement is found to be illegal,
            invalid or unenforceable, the remaining provisions shall remain in full force and
            effect, and in addition Your and Participant’s rights to access the System shall
            immediately terminate. This Agreement and any rights granted hereunder cannot be
            assigned, and any attempted assignment shall be null and void for all purposes.
        </p>
    </div>
    <div style="width: 99%">
        <p style="color: #666666; font-size: 11px; font-weight: normal; padding: 8px 0 0 8px;
            text-align: justify;">
            6. You acknowledge and agree that access to the System at any time or on any one
            or more occasion(s) constitutes good and valuable consideration, and that You and
            Participant are legally bound by the terms and conditions of this Agreement (including
            any terms in the Portal Agreement). This Agreement, together with the Portal Agreement,
            states the entire agreement concerning the subject matter hereof. This Agreement
            shall be effective to amend and supersede any prior agreement inconsistent herewith.
            No modification, waiver or change to this Agreement shall be effective unless in
            writing and by the duly authorized representatives of each of Participant, Diebold.
            This Agreement shall continue in effect until You are given notice of termination
            by Diebold.
        </p>
    </div>
</div>
