<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DieboldDB" connectionString="Server=localhost; Database=DieboldTest; Uid=sa; Pwd=; Connect Timeout=3600"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="MachineshopPlatformURL" value="http://msdev.teracode.com/ms-platform/api"/>
    <add key="NotificationURL" value="http://dev.diebold.teracode.com/Alert/Notify"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
