@model System.Web.Mvc.HandleErrorInfo

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <div class="page">
        <div id="header">
            <div class="clearfix">
                <div class="logo"><img src="../../Content/images/dieboldLogo.png" alt="DIEBOLD" /></div>                        
                @Html.Partial("_LogOnPartial")
            </div>
        </div>
        <div id="main">
            <h2>
                Sorry, an error occurred while processing your request.
            </h2>
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
