<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="DieboldDB" connectionString="Server=PC\SQLExpress; Database=Diebold; Uid=sa; Pwd=AAbb00;" />    
    <!--<add name="DieboldDB" connectionString="Server=192.168.10.66; Database=DieboldDev; Uid=diebold; Pwd=machineshop;" />-->
    <!--<add name="DieboldDB" connectionString="Server=192.168.10.66; Database=Diebold; Uid=diebold; Pwd=machineshop;" />-->

  </connectionStrings>
</configuration>