@{
    ViewBag.Title = "AccessView";
}

<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=320,user-scalable=false" />

	<link rel="stylesheet" type="text/css" href="../../Content/style.css">
    <!--[if gte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/gradient-ie6-and-up.css" />
	<![endif]-->

	<title>Diebold</title>
	<script type="text/javascript">

    $(document).ready(function () {

            $.ajax({
                url: '@Url.Action("GetAccessDevices", "Access")',
                type: 'POST',
                data: { parentType: 'DVR' },
                success: function (data) {
                    $.each(data, function (index, itemData) {
                        $('#AccessViewDeviceList').val('Select Device');
                        $('#AccessViewDeviceList').append($('<option/>', {
                            value: itemData.Id,
                            text: itemData.Name
                        })

                        );
                    });
                },
                error: function (errordata) {
                    alert('Failure')
                }
            });

        });

<!--
	    function MM_swapImgRestore() { //v3.0
	        var i, x, a = document.MM_sr; for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) x.src = x.oSrc;
	    }
	    function MM_preloadImages() { //v3.0
	        var d = document; if (d.images) {
	            if (!d.MM_p) d.MM_p = new Array();
	            var i, j = d.MM_p.length, a = MM_preloadImages.arguments; for (i = 0; i < a.length; i++)
	                if (a[i].indexOf("#") != 0) { d.MM_p[j] = new Image; d.MM_p[j++].src = a[i]; }
	        }
	    }

	    function MM_findObj(n, d) { //v4.01
	        var p, i, x; if (!d) d = document; if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
	            d = parent.frames[n.substring(p + 1)].document; n = n.substring(0, p);
	        }
	        if (!(x = d[n]) && d.all) x = d.all[n]; for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];
	        for (i = 0; !x && d.layers && i < d.layers.length; i++) x = MM_findObj(n, d.layers[i].document);
	        if (!x && d.getElementById) x = d.getElementById(n); return x;
	    }

	    function MM_swapImage() { //v3.0
	        var i, j = 0, x, a = MM_swapImage.arguments; document.MM_sr = new Array; for (i = 0; i < (a.length - 2); i += 3)
	            if ((x = MM_findObj(a[i])) != null) { document.MM_sr[j++] = x; if (!x.oSrc) x.oSrc = x.src; x.src = a[i + 2]; }
	    }
//-->
    </script>
    

</head>

<body onLoad="MM_preloadImages('../../Content/images/back-btn-hovr.png')">
        <!-- Main Row Starts here -->
        <div class="row">
        	<div class="sixteen columns">
            	<header>
                    <div class="sixteen columns logo-small" align="center">
                    
                    	<div class="back">
                       	  <a href="../Dashboard/Home" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('back btn','','../../Content/images/back-btn-hovr.png',1)"><img src="../../Content/images/back-btn.png" name="back btn" border="0"></a>
<!--                        	<a href="index.html"><strong>Back</strong></a>-->
                      </div>
                        
                    	<a href="#"><img src="../../Content/images/logo-small.png" alt="" /></a>
	                    
                        <div class="log-out">
                        	<a href="../Account/LogOn"><img src="../../Content/images/logout-icon.png" alt="" /></a>
                        </div>
                    </div>
				</header>
                
                <div class="clear"></div>	
                
                <!-- MAIN CONTAINER STARTS HERE -->
                <section>
                	<article>

                        <div class="body-bg">
                            <div class="inner-cont">
                                
                                <!-- Access Page Starts Here -->
                                <div class="access">
                                    <div class="main-hdr" align="center">
                                        <h1>Access</h1>
                                    </div>
                                    
                                    <div class="drop-down-sel" align="center">
                                        <select id="AccessViewDeviceList" name="AccessViewDeviceList">
                                            <option>Select Device</option>
                                        </select>
                                    </div>
                                    
                                    <div class="box-cont-bg">
                                        <div class="lft-cont">
                                            <p>Door: Front Door</p>
                                        </div>
                                        
                                        <div class="right-cont">
                                            <div class="big-active-btn">
<!--                                                	<input type="button" value="Momentarily Unlock" />-->
                                                <p><a href="#"><strong>Momentarily Unlock</strong></a></p>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        
                                        <div class="clear"></div>
                                    </div>
                                    
                                    <div class="box-cont-bg">
                                        <div class="lft-cont">
                                            <p>Door: Back Door</p>
                                        </div>
                                        
                                        <div class="right-cont">
                                            <div class="big-active-btn">
<!--                                                	<input type="button" value="Momentarily Unlock" />-->
                                                <p><a href="#"><strong>Momentarily Unlock</strong></a></p>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        
                                        <div class="clear"></div>
                                    </div>
                                    
                                    <div class="box-cont-bg">
                                        <div class="lft-cont">
                                            <p>Door: Front Door 2</p>
                                        </div>
                                        
                                        <div class="right-cont">
                                            <div class="big-active-btn">
<!--                                                	<input type="button" value="Momentarily Unlock" />-->
                                                <p><a href="#"><strong>Momentarily Unlock</strong></a></p>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        
                                        <div class="clear"></div>
                                    </div>
                                    
                                </div>
                                <!-- Access Page Ends Here -->
                            
                            </div>
                        </div>

                    </article>
                </section>

				<section>
                	<article>
                	</article>
				</section>
                <!-- MAIN CONTAINER ENDS HERE -->
                        
                <!-- FOOTER STARTS HERE -->
                <footer>
				</footer>
                <!-- FOOTER ENDS HERE -->
                
            </div>
        </div>
        <!-- Main Row Ends here -->
	
</body>
</html>
